/* Importing Tailwind CSS */
@import "tailwindcss";

/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

/* Ensure Outfit font applies globally */
body {
  font-family: "Outfit", sans-serif !important;
}


/* Hide scrollbar while keeping scrolling */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  overflow-y: scroll;
}
